.envrc
!artifacts/
artifacts/*
bbl-ops-files/
bosh-deployment/
cloud-config/
jumpbox-deployment/
terraform/
create-director.sh
create-jumpbox.sh
delete-director.sh
delete-jumpbox.sh
bbl-state.json
settings.yml
*/vars/bosh-state.json
*/vars/cloud-config-vars.yml
*/vars/director-vars-file.yml
*/vars/director-vars-store.yml
*/vars/jumpbox-state.json
*/vars/jumpbox-vars-file.yml
*/vars/jumpbox-vars-store.yml
*/**/terraform.tfstate
*/vars/bbl.tfvars
*/cluster-creds.yml
.terraform
