.envrc

!/terraform/.gitkeep
*/terraform/**

!/cloud-config/.gitkeep
*/cloud-config/**

!/vars/.gitkeep
*/vars/**

bbl-ops-files/
bosh-deployment/
jumpbox-deployment/

create-director.sh
create-jumpbox.sh
delete-director.sh
delete-jumpbox.sh
bbl-state.json

settings.yml

*/cluster-creds.yml
.terraform

*.plan
*.tfstate
*.tfstate.backup
