*.plan
*.terraform
*.tfstate

artifacts/**
!artifacts/.gitkeep

nonprod/**

nonprod/vars/**
!nonprod/vars/
!nonprod/vars/.gitkeep

nonprod/terraform/**
!nonprod/terraform/
!nonprod/terraform/.gitkeep

nonprod/cloud-config/**
!nonprod/cloud-config/
!nonprod/cloud-config/.gitkeep
